@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0px;
}

#root {
  height: 100%;
  display: flex;
}

#main-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  color: inherit !important;
  line-height: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.card {
  @apply relative h-full flex flex-col bg-white shadow-xl rounded-md m-5 p-5;
}

button {
  @apply items-center flex;
}

.ant-btn {
  display: flex !important;
}

.pg-viewer-wrapper {
  overflow-y: unset !important;
}

.photo-viewer-container {
  width: unset !important;
  height: unset !important;
}

.photo-viewer-container > img {
  width: unset !important;
  height: unset !important;
}

.contacts > .ant-collapse-header {
  padding: 8px 16px !important;
}

.ant-modal-confirm-btns {
  display: flex;
}

.loading-image {
  filter: blur(10px);
  clip-path: inset(0);
}

.loaded-image {
  filter: blur(0px);
  transition: filter 0.5s linear;
}
